*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1 {
    text-decoration: underline; 
    color: red; 
    font-size: x-large;

}
p{
    color: orange; 
    font-size: large; 
    font-weight: bold;
}
button{
    width: 125px;
    height: 75px;
    border-radius: 25px;
    background-color: antiquewhite;
    margin: 20px;
    font-size: x-large;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.results{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 1px solid red;
    margin: 20px;
}
ul{
    list-style-type: none;
}
button:hover{
    cursor: pointer;
    color: red;
}

#winner{
    font-size: 20px;
    margin: 20px;
    display: block;
}

#final{
    font-size: 30px;
    font-style: bold;
    color: lightcoral;
    padding: 5px;
    border: 1px dashed red;
}

.again{
    display: flex;
    justify-content: space-evenly;
}
#playAgain{
    display: none;
    align-self: center;
    width: 405px;
    height: 50px;
    font-size: medium;
    margin-right: 400px;
    padding: 10px;
}
#playAgain:hover{
    background-color: black;
    color: white;
}

footer p{
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
    padding: 30px;
    font-size: small;
  }
  #pie-pagina{
    background: url(bg.jpg);
    height: 100%;
    width: 100%;
  }

  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    cursor:pointer;
    font-weight: bolder;
  }
